// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//Mobile Navigation
.navbar-light .navbar-toggler {
	position: relative;
	border-color:rgba(0, 0, 0, 0);
	z-index: 1000;
}
#navbarNavOverlay {
	.navbar-nav {
		@include media-breakpoint-down(md){
			margin:20vh 0;
		}
		li {
			@include media-breakpoint-down(md) {
				text-align: center;
			}
			a.nav-link {
				@include media-breakpoint-down(md) {
					font-size: 20pt;
				}
			}
			
			ul.dropdown-menu {
				@include media-breakpoint-down(md) {
					background-color: transparent;
					border:none;
					font-size:20pt;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		position: absolute;
	    background: $secondary;
	    width: 100vw;
	    height: 100vh;
	    top: 0;
	    left: 0;
	    padding: 15px;
	    z-index: 999;
	}
	
}